
#crystal-image {
    max-height: 20%;
    max-width: 20%;
    margin-top: 20px;
    border-radius: 15px;
}

#top-container {
    margin-top: 20rem;
}

#individual-div {
    background-color: #FED3AE;
    width: 400px;
    height: 600px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-color: #FFCDD5;
    border-style: solid;
    border-width: 10px;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 110%;
    margin: 0;
    padding: 0;
}

#profile-pic {
     height: 250px;
    width: 250px;
    margin-top: 20px; 
    max-height: 50%;
    max-width: 50%;s
    margin-top: 20px;
    border-radius: 15px;
}

p {
    width: 250px;
}

h1 {
    margin: 0;
    margin-top: 5px;
}