* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
        
  /* font-family: 'Julius Sans One', sans-serif; */
  /* font-family: 'Megrim', cursive; */
  /* font-family: 'Nanum Myeongjo', serif; */
  /* font-family: 'Poiret One', cursive; */
  
  --color1: #211f1f;
  --color2: #eeab92;
  --color3: rgb(116, 73, 160);
  }
  
  body {
    background: linear-gradient(-45deg, #eb9176, #e9719f, #72bdd8, #6dd8bf);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

nav {
  position: fixed;
  /* padding-bottom: 5%; */
}

#top-container{
  padding-top: 10%;
    font-family: 'Nanum Myeongjo', serif;

}

  #crystal-image {
    max-height: 16%;
    max-width: 16%;
    margin-top: 7px;
    border-radius: 15px;
}


#individual-div {
    background-color: #FED3AE;
    width: 300px;
    height: 550px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-color: #FFCDD5;
    border-style: solid;
    border-width: 7px;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#profile-pic {
    height: 200px;
    width: 200px;
    margin-top: 10px; 
    max-height: 60%;
    max-width: 60%;
    margin-top: 7px;
    border-radius: 15px;
}

p {
    width: 225px;
    font-size: 1rem;
}

h1 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
}