html, body {
    width: 100%;
    height: 100%;
}

body {
    --color1: rgb(240, 147, 147);
    --color2: rgb(95, 26, 213);
    --color3: rgb(163, 226, 240);
    --color4: rgb(206, 204, 246);
    --color5: rgb(246, 230, 185, .3);
    --color6: rgba(7, 6, 6, .8); 
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgb(166, 162, 234);
    --gutter: 30px;
    --footer-height: 35px;
    

    background:  rgba(206, 204, 246) url("../assets/backgrounds/pexels-madison-inouye-1831234.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: screen;
    font-family: 'Syne', sans-serif;
    font-size: 22px;
    color: var(--color6);
    /* font-family: 'Big Shoulders Inline Text', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Syne', sans-serif; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2.5px var(--color1);
    
}

img {
    height: 100px;
    width: 100px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    font-family: 'Shrikhand', cursive;
}

h1{
    font-family: 'Big Shoulders Inline Text', cursive;
    font-weight: 800;
    font-size: 130px;
    color: rgba(206, 204, 246, .6);
}

h2 {
    display: inline-flex;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
    color: var(--color6); 
}

h3 {
    display: inline-flex;
    font-size: 2rem;
    font-family: 'Shrikhand', cursive;
    color: var(--color6); 
}


.gutter-right {
    width: 100%;
    height: var(--footer-height);
}

button {
    animation: pulse 50s infinite ease-in-out;
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    font-size: 1.1rem;
}

.home {
    text-decoration: none;
}

.shop-name {
    background: none;
    border: none;
}

  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

