* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
      
    
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  min-height: 10vh;
  width: 100%;
  box-shadow: 10px 10px grey;
  position: fixed;

}


.logo {
  color: pink;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.links li {
  list-style: none;
}

.links a {
  color: pink;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

}

.links a:hover {
  color: #fec89a;
}
    
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: auto;
  } 

#sleep{
    box-shadow: 10px 10px 5px grey;
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
#mood{
    box-shadow: 10px 10px 5px grey;
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    
    /* width: 250px; */
  
#mbs{
    box-shadow: 10px 10px 5px grey;
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    /* width: 250px; */
  
#energy{
    box-shadow: 10px 10px 5px grey;
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  

  
  

img {
    width: 100px;
    height: 100px;
}


.result-box{
height: 300px;
width: 300px;
margin-left: 10px;
margin-top: 100px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
border: 2px solid #FFCDD5;
color: #fec89a;
}


p {
  display: flex;
  justify-content: center;
  align-items: center;
}
