body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


div {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
}

button {
  width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

