* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
      
    
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  min-height: 10vh;
  width: 100%;
  box-shadow: 10px 10px grey;
  position: fixed;

}


.logo {
  color: pink;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.links li {
  list-style: none;
}

.links a {
  color: pink;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

}

.links a:hover {
  color: #fec89a;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: lavender;
}

.question-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}


div {
  border: 2px solid white;
  background: white;
  color: #fec89a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 10px 10px 5px grey;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin: 10px;
  width: 600px;
  height: 450px;
}

button {
  width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;
  background: white;
  color: pink;
  border: 1px pink solid;
  margin: 10px;
  padding: 5px;
  font-size: 1.2em;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 20px;
  margin: 20px;
}

input {
  padding: 10px;
  margin: 10px;
}


h1 {
  color: pink;
}

