* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
      
    
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  min-height: 10vh;
  width: 100%;
  box-shadow: 10px 10px grey;
  position: fixed;

}


.logo {
  color: pink;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.links li {
  list-style: none;
}

.links a {
  color: pink;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

}

.links a:hover {
  color: #fec89a;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lavender;
  height: 100vh;
  
  
}

.main-section {
  background-color: var(--color5);
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 10px 10px 5px grey;
  height: 500px;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  

}

label{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"]
{
    background: transparent;
    border: none;
    border-bottom: 2px 	pink solid;
    text-decoration: none;
    font-size: 2em;
    color: #fec89a;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

input[type="submit"] {
  background: #fdfffc;
  color: #fec89a;
  border: 2px #fec89a solid;
  font-size:1em;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 100px;
  height: auto;
  border-radius: 8px;
}

input[type="radio"] {
  display: none;
}

input:checked + img + .hide {
  border: solid 5px rgb(109, 104, 109);  
}

input:focus {
  outline:none;
}



.buttons {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: flex;
  color: #fec89a;
}

