* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
        
      
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    min-height: 10vh;
    width: 100%;
    box-shadow: 10px 10px grey;
    position: fixed;
  
  }
  
  
  .logo {
    color: pink;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  .links li {
    list-style: none;
  }
  
  .links a {
    color: pink;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  
  }
  
  .links a:hover {
    color: #fec89a;
  }
  
  
  
  .top-container{
      background-color: lavender;
      background-image: url("../assets/extraAssets/home.png");                       
      background-repeat:no-repeat;
      background-position: bottom right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 250px;
      height: 100vh;
      
      
    
    }


p {
    color: #242423;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-right: 20px;
    padding-top: 20px;
    width: 50%;
    font-size: 1em;
  }

.logo {
    color: pink;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding-right: 20px;
    padding-top: 20px;
    width: 50%;
}

h1 {
    color: #e5989b;
    font-size: 1.2em;
    width: 50%;
    font-family: 'Belleza', sans-serif;
    font-weight:400;
    font-size: 2em;

}

button {

    background: #fdfffc;
    color: #fec89a;
    border: 2px #fec89a solid;
    font-size:1em;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Belleza', sans-serif;
    font-weight: 400;
    width: 100px;
    height: auto;
    border-radius: 8px;
}

button:focus {
    outline: none;
}

.links {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}